input/
working/models
working/submission.csv
**/.ipynb_checkpoints
**/__pycache__
working/logs
working/tb_logs
working/foo.py
dx_note.ipynb
working/solutions
**/run.slurm
nocall/results
working_with_nocall/models
working_with_nocall/tb_logs